@import'fonts.css';


:root {
    --ps700: 'OpenSans Bold';
    --ps400: 'OpenSans Regular';
    --rw700: 'Raleway Bold';
    --rw400: 'Raleway Regular';
    --cr400: 'Cardo Italic';
}

body {
    font-family: var(--rw400);
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}


.wm{
    flex-grow: 0;
}

a {
    text-decoration: none;
}

a:hover{
    color: white;
}

ul {
    list-style: none;
}

/* header start
************************ */

.header{
    background: url(../img/intro-bg.jpg) no-repeat center /cover;
}

.header__nav{
    background: url(../img/intro-bg.jpg) no-repeat center /cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    border-bottom:1PX solid #515369;
}
.header__list{
    font-size: 13PX;
    font-weight: 700;
    text-transform: uppercase;
}

.header__nav-link {
    color: #FFF;
    opacity: 0.70;
    transition: opacity .1s linear;
    margin: 10px;
    display: block;
}

.header__nav-link:hover {
    opacity: 1;
}

.header__content{
    text-align: center;
}

.header__content-title {
    text-transform: uppercase;
    font-family: var(--ps700);
    color: #FFF;
    font-size: 65px;
    line-height: 71px;
}

.header__content-text {
    font-size: 22px;
    color: #FFF;
    line-height: 33px;
    font-family: var(--rw400);
    margin: 30px 0 60px;
}

.header__btn {
    width: max-content;
    display: block;
    text-transform: uppercase;
    padding: 14px 40px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    background: red;
    border-radius: 2px;
    transition: background .1s linear;

}

.header__btn:hover {
    background: rgb(192, 4, 4);
}

.header__menu-btn {
    color: white;
    font-size: 36px;
}

.navbar-toggler:focus {
    box-shadow: none;
}



/* header end
************************ */

/* main title start
************************ */

.main{
    margin: 75px 0 100px;
    
}


.main__item {
    text-align: center;
    margin: 25px 0;

}

.main__icon {
    margin-bottom: 25px;
}

.main__item-title {
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main__text {
    line-height: 21px;
    color: #6c7279;
    font-size: 14px;
    margin: 0;
}

/* main title end
************************ */


/* main works start
************************ */
.main__works{
    margin-top: 75px;
}

.main__works-item{
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding: 0;
}

.works__img{
    width: 100%;
    object-fit: cover;

}

.main__works-content{
    position: relative;
}

.works__content{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(232, 69, 69, .9);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s linear;
}


.main__works-content:hover .works__content{
    opacity: 1;
}

.works-link {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    font-family: 700;
    margin-bottom: 5px;
}

.works-text {
    font-size: 14px;
    color: #FFF;
    margin: 0;
}


/* main works end
************************ */
/* main team start
************************ */
.main__team{
    margin-top: 100px;
}


.main__team-item{
    margin-bottom: 20px;
    padding-right: 12px;
    padding-left: 12px;
}




.team__img{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
}

.team__title{
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;

}

.team__prof{
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.team__text{
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    margin-bottom: 20px
}

.social-link{
    display: block;
    color: gray;
    font-size: 20px;
    margin-right: 25px;
    transition: color .2s linear;

}

.social-link:hover{
    color: blue;
}





/* main team end
************************ */

/* main testimonials start
************************ */

.main__testimonials{
    background: #53354a;
    margin-top: 80px;

}

.main__testimonials-photo{
    padding: 0;
}

.main__testimonials-info{
    padding-left: 65px;
}

.main__testimonials-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__testimonials-text{
    font-family: var(--cr400);
    font-size: 36px;
    font-style: italic;
    color: #FFF;
    line-height: 42px;
    margin-bottom: 25px;
}

.main__testimonials-aftor{
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}
.main__testimonials-slider{
    padding: 0;
}


/* main testimonials end
************************ */

/* main dowload start
************************ */

.main__download{
    margin-top: 100px;
    text-align: center;
}

.main__download-btn {
    width: max-content;
    display: block;
    text-transform: uppercase;
    padding: 14px 80px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    background: red;
    border-radius: 2px;
    transition: background .1s linear;

}

.main__download-btn:hover {
    background: rgb(192, 4, 4);
}

.main__download-title{
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
}
.main__download-text{
    font-size: 13px;
    color: #2d3033;
    text-transform: uppercase;
    font-family: var(--ps700);
    margin-bottom: 30px;

}





/* main  dowload end
************************ */


/* main  footer start
************************ */



.footer{
    background: #3a3e64;
}

.footer__contant{
    text-align: center;
    padding: 70px 0;
}

.footer__item-title{

    font-size: 14px;
    font-family: var(--rw700);
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__item-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 22.5px;
    text-align: center;

}

.footer-link{
    color: #fff;
    font-size: 40px;
    transition: color .2s linear;

}
.footer-link:nth-child(2){
    margin: 0 4px;
    
}
.footer-link:hover{
    color: rgba(0, 195, 255, 0.877);
}

.footer__copyright-text{
    font-size: 14px;
    color: #808080;
    line-height: 22.5px;
    text-align: center;
}

.footer_span{
    color: #FFF;
}



.footer__copyright{
    background: #313454;
    padding: 20px 0 ;
}








/* main  footer end
************************ */









@media(max-width:1000px){
   
    .main__testimonials-text{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .main__testimonials-aftor{
        font-size: 10px;
    }
}

@media(max-width: 992px){
    .header__nav-link{
        margin: 5px;
    }

    .header__content-title{
        font-size: 40px;
        line-height: 40px;
        
    }
    
    .header__content-text{
        font-size: 20px;
        line-height: 25px;
    }
}

@media(max-width:750px){
    .header__content-title{
        font-size: 30px;
        line-height: 30px;
        
    }
    
    .header__content-text{
        font-size: 15px;
        line-height: 20px;
    }

    .main__testimonials-info{
        padding-left: 20px;
    }

    .main__testimonials-text{
        font-size: 15px;
        margin-bottom: 4px;
    }
    .main__testimonials-aftor{
        font-size: 8px;
    }
}


@media(max-width:575px){
    
    .footer__contant{
        flex-direction: column;
    }

    .footer__item:nth-child(2){
        margin: 25px 0;
    }
    .footer__item-title{
        margin-bottom: 5px;
    }
    .carousel__item{
        flex-direction: column;
        text-align: center;
    }
    
    .main__testimonials-photo {
        width: 100%;
    }
    .main__testimonials-info{
        margin: 25px 0 35px;
    }

}